# Archivos y carpetas de Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.log

# Archivos de configuración locales
launchSettings.json

# Paquetes NuGet
packages/
*.nupkg

# Archivos de compilación
*.dll
*.exe
*.pdb
*.cache
